<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="name">username:</label>
            <input type="text" name="username" id="name" value="" tabindex="1" />
        </div>

        <div>
            <lable for="password">password:</lable>
            <input type="password" name="password" id="password" value="" tabindex="1">
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>
